// **CSS for responsiveness starts here**
@include media-md {
  // Responsive css for navbar
  .menu-btn {
    visibility: hidden;
    @include transition-none;
    &__burger {
      @include transition-none;
      &::before {
        @include transition-none;
      }
      &::after {
        @include transition-none;
      }
    }
  }
  .nav-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
    height: auto;
  }
  .nav {
    position: relative;
    visibility: visible;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 23px 40px 23px 50px;
    &.open {
      h4 {
        font-weight: 600;
        text-align: center;
        margin: 0em 0em 0em 0em;
      }
    }
    h4 {
      font-weight: 600;
      text-align: center;
      margin: 0em 0em 0em 1em;

      @include transition-ease;
    }
    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        color: $heading-text-color;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.23s;
        padding: 0rem;
      }
    }
  }

  // Responsive css for home
  .home {
    .character {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
      gap: 9em;

      &__description {
        font-size: 17px;
        text-align: left;
        max-width: 31rem;
        color: $text-color;

        h1 {
          color: $heading-text-color;
          font-size: 3.5rem;
          line-height: 1.2;
          margin-bottom: 1.5rem;
          font-weight: 700;
        }

        span {
          justify-content: left;
          gap: 2rem;
          margin-top: 1em;
          a {
            color: $heading-text-color;
            &:hover {
              color: $secondary-color;
            }
            i {
              font-size: xx-large;
            }
          }
        }
      }
      .animated-bubble {
        width: 19rem;
        height: 19rem;
        border: 2px solid $heading-text-color;
        margin: 0 0 auto;
      }
    }
  }
}

@include media-lg {
}

@include media-xl {
}
