* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: Poppins, sans-serif !important;
}

.nav-container {
  position: sticky;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  height: 3.3em;
}

.menu-btn {
  position: fixed;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #000;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #000;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #000;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
  font-size: 2rem;
}
.nav.open {
  visibility: visible;
}
.nav.open h4 {
  text-align: center;
  margin: 0.7em 0em 0em 1em;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vh;
  overflow: hidden;
  background: white;
  list-style-type: none;
  padding-right: 1rem;
  margin: 0;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #147efb;
}
.nav .menu-nav__link {
  display: inline-block;
  cursor: pointer;
  padding: 2rem 0;
  font-weight: 300;
  text-decoration: none;
  color: #2d2e32;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #147efb;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.home {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}
.home .container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}
.home .character {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 2em;
  align-items: center;
}
.home .character__description {
  font-size: 19px;
  text-align: center;
}
.home .character__description h1 {
  color: #2d2e32;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 700;
}
.home .character__description span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
.home .character__description span a {
  color: #2d2e32;
}
.home .character__description span a:hover {
  color: #147efb;
}
.home .character__description span a i {
  font-size: larger;
}
.home .character .animated-bubble {
  width: 19rem;
  height: 19rem;
  border: 2px solid #2d2e32;
  margin: 2em 0 auto;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  text-align: center;
  background-image: url("../images/profile-img.png");
  animation: animate 5s ease-in-out infinite;
}
@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 70%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
    transition: all 0s ease-in-out;
  }
  .menu-btn__burger {
    transition: all 0s ease-in-out;
  }
  .menu-btn__burger::before {
    transition: all 0s ease-in-out;
  }
  .menu-btn__burger::after {
    transition: all 0s ease-in-out;
  }
  .nav-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
    height: auto;
  }
  .nav {
    position: relative;
    visibility: visible;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 23px 40px 23px 50px;
  }
  .nav.open h4 {
    font-weight: 600;
    text-align: center;
    margin: 0em 0em 0em 0em;
  }
  .nav h4 {
    font-weight: 600;
    text-align: center;
    margin: 0em 0em 0em 1em;
    transition: all 0.5s ease-in-out;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    color: #2d2e32;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.23s;
    padding: 0rem;
  }
  .home .character {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 9em;
  }
  .home .character__description {
    font-size: 17px;
    text-align: left;
    max-width: 31rem;
    color: #555;
  }
  .home .character__description h1 {
    color: #2d2e32;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }
  .home .character__description span {
    justify-content: left;
    gap: 2rem;
    margin-top: 1em;
  }
  .home .character__description span a {
    color: #2d2e32;
  }
  .home .character__description span a:hover {
    color: #147efb;
  }
  .home .character__description span a i {
    font-size: xx-large;
  }
  .home .character .animated-bubble {
    width: 19rem;
    height: 19rem;
    border: 2px solid #2d2e32;
    margin: 0 0 auto;
  }
}/*# sourceMappingURL=main.css.map */